.article{
	margin-bottom: 40px;
  padding: 10px;
  border: 2px #f2aea2 solid;
  list-style: none;
  background-color: #f3f2ee;
  border-radius: 5px;
.title{
	font-size: 30px;
	color: #1C94B3;
	font-weight: 800;
}
.data{
	float: right;
	font-weight: 600;
	color: #902064;
 }
}  