@media (max-width: 767px){
	#sidebar{
		// display: none;
		z-index: 1;
		position: absolute;
		right: -250px;
		top: 0px;
		height: 100%;
		width: 250px;
		-webkit-transition: right 0.5s ease-out;
		transition: right 0.5s ease-out;
		background-color: white;
	}
	#container{
		padding: 0px;
	}
	#content{
		padding: 0px;
	}
	ul{
		// padding-right: 0px;
	}
}
#sidebar.slideIn{
	// display: block;
	right: 0;
	top: 0px;	
	-webkit-transition: right 0.5s ease-out;
	transition: right 0.5s ease-out;
}
#container{
	position: relative;
	overflow: hidden;
}